# Pandas Aggregations

- https://pandas.pydata.org/pandas-docs/stable/reference/groupby.html#groupby

- **User Guide:** https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

**NOTE: Use nbextensions for a clener view of this notebook**

In [1]:
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

Sample DF

In [2]:
df = pd.DataFrame(np.random.randint(0,11,(10,3)), columns = ['num1','num2','num3'])
df['category'] = ['a','a','a','b','b','b','b','c','c','c']
df = df[['category','num1','num2','num3']]
df

  category  num1  num2  num3
0        a     2     5     9
1        a     1     9     1
2        a    10    10     9
3        b     6     3    10
4        b     9     5     2
5        b     6     9     3
6        b     9     1     7
7        c     9     9     2
8        c     9     6    10
9        c     4     2     8

Dict of all the groups and their respective indices in the parent dataframe

In [3]:
for name, group in df.groupby('category'): 
    print(name)
    print(group)
    print('\n')

a
  category  num1  num2  num3
0        a     2     5     9
1        a     1     9     1
2        a    10    10     9


b
  category  num1  num2  num3
3        b     6     3    10
4        b     9     5     2
5        b     6     9     3
6        b     9     1     7


c
  category  num1  num2  num3
7        c     9     9     2
8        c     9     6    10
9        c     4     2     8

## Indexing / Iterations

In [4]:
df.groupby('category').groups
df.groupby('category').indices

{'a': Int64Index([0, 1, 2], dtype='int64'),
 'b': Int64Index([3, 4, 5, 6], dtype='int64'),
 'c': Int64Index([7, 8, 9], dtype='int64')}

{'a': array([0, 1, 2], dtype=int64),
 'b': array([3, 4, 5, 6], dtype=int64),
 'c': array([7, 8, 9], dtype=int64)}

Get the groups by the value of column that you are grouping by

In [5]:
df.groupby('category').get_group('a')
df.groupby('category').get_group('b')

  category  num1  num2  num3
0        a     2     5     9
1        a     1     9     1
2        a    10    10     9

  category  num1  num2  num3
3        b     6     3    10
4        b     9     5     2
5        b     6     9     3
6        b     9     1     7

### Multiindex

In [6]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
             ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

index = pd.MultiIndex.from_arrays(arrays, names=['first', 'second'])
s = pd.Series(np.random.randn(8), index=index)
s

first  second
bar    one       0.141551
       two       0.580805
baz    one       0.019663
       two      -1.193248
foo    one       2.116177
       two      -1.769689
qux    one      -0.117375
       two       0.397294
dtype: float64

group by one of the levels -- any one of the levels

In [7]:
# sinle level using index / label name
s.groupby(level=0).sum()
s.groupby(level='first').sum()
s.groupby(level=1).sum()

# multiple level groupby using index labels
s.groupby(level = [0,1]).count()

first
bar    0.722356
baz   -1.173584
foo    0.346488
qux    0.279919
dtype: float64

first
bar    0.722356
baz   -1.173584
foo    0.346488
qux    0.279919
dtype: float64

second
one    2.160016
two   -1.984838
dtype: float64

first  second
bar    one       1
       two       1
baz    one       1
       two       1
foo    one       1
       two       1
qux    one       1
       two       1
dtype: int64

## Function Application

Apply a function

def get_stats(group):
    return {'min': group.min(), 'max': group.max(), 'count': group.count(), 'mean': group.mean()}

In [9]:
df.groupby('category').apply(sum)
# df.groupby('category').apply()

         category  num1  num2  num3
category
a             aaa    13    24    19
b            bbbb    30    18    22
c             ccc    22    17    20

**PIPE**

Combining .groupby and .pipe is often useful when you need to reuse GroupBy objects.

## Group Descriptive Statistics

https://pandas.pydata.org/pandas-docs/stable/reference/groupby.html#computations-descriptive-stats

Describe each group like a dataframe

In [25]:
df.groupby('category').describe()

          num1                                                num2            \
         count      mean       std  min  25%  50%  75%   max count      mean
category
a          3.0  6.333333  2.081666  4.0  5.5  7.0  7.5   8.0   3.0  4.000000
b          4.0  5.500000  3.872983  0.0  4.5  6.5  7.5   9.0   4.0  4.250000
c          3.0  7.000000  3.000000  4.0  5.5  7.0  8.5  10.0   3.0  5.666667

                                              num3                           \
               std  min   25%  50%  75%  max count      mean       std  min
category
a         3.605551  0.0  2.50  5.0  6.0  7.0   3.0  7.333333  0.577350  7.0
b         2.629956  2.0  2.75  3.5  5.0  8.0   4.0  2.250000  2.061553  0.0
c         4.041452  1.0  4.50  8.0  8.0  8.0   3.0  7.333333  3.055050  4.0


          25%  50%   75%   max
category
a         7.0  7.0  7.50   8.0
b         1.5  2.0  2.75   5.0
c         6.0  8.0  9.00  10.0