# Pandas Useful Tricks

In [1]:
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

Sample DF

In [2]:
df = pd.DataFrame(np.random.randint(0,11,(10,3)), columns = ['num1','num2','num3'])
df['category'] = ['a','a','a','b','b','b','b','c','c','c']
df = df[['category','num1','num2','num3']]
df

  category  num1  num2  num3
0        a     9     7     9
1        a     5     5    10
2        a     7     3     0
3        b     9     6    10
4        b     3     0     5
5        b     9     7     2
6        b     9    10     5
7        c    10     7     4
8        c     9     1     6
9        c     2     8     9

---

## Concatenate a list of column values together

In [18]:
df = df.astype(str)
df.columns

Index(['category', 'num1', 'num2', 'num3', 'concatenated_field'], dtype='object')

In [20]:
list_cols = ['category', 'num1', 'num2', 'num3']
df['concatenated_field'] = df[list_cols].apply(lambda x: '-'.join(x.values.astype(str)), axis = 1)
df

  category num1 num2 num3 concatenated_field
0        a    9    7    9            a-9-7-9
1        a    5    5   10           a-5-5-10
2        a    7    3    0            a-7-3-0
3        b    9    6   10           b-9-6-10
4        b    3    0    5            b-3-0-5
5        b    9    7    2            b-9-7-2
6        b    9   10    5           b-9-10-5
7        c   10    7    4           c-10-7-4
8        c    9    1    6            c-9-1-6
9        c    2    8    9            c-2-8-9

---

## "ZIP" multiple output of a function to 2 or more columns